			<main id="main-content" class="main-content bd-content store" role="main">
				<section class="section intro">
					<div class="container">
						<h1>Store</h1>
						<p>Only printed versions of the web comics for now. We're hoping to sell prints, commissioned art, and other related merchandise some time soon.</p>
					</div>
				</section>
				<section class="section" id="standard-us-comics-size">

					<div class="container">
						<div class="merchandise-description">
							<h2>US Standard Size Comic Books</h2>
							<p>Approximately 6.5 x 10.5 inches, full color covers, color or black-and-white interiors, 28+ content pages. Cover prices are pre-shipping and handling.</p>
						</div>
						<div class="row thumbnails">
							<div class="col-12 col-md-6">
								<div class="thumbnail" id="inky-stories-7">
									<a href="https://checkout.square.site/buy/AZ3UCTJOJZCFTJJODZDB4SPF" class="image" role="img" aria-label="buy the print edition of Inky Stories #7"></a>
									<div class="text">
										<h3><span class="book-title">Inky Stories</span> #7</h3>
										<p>"<a href="#">Cupid's Got A Death Ray!</a>", "<a href="../comics/bottle-of-red.htm">Bottle of Red</a>" (reprinted at standard size), "<a href="#">The Watchman</a>", "<a href="#">Into the Dalek</a>", and Accidental Genius one-pager "<a href="#">Go Snow!</a>" Print-only features: pinups, fake ads, Null Device chronology cheat sheet, and artist spotlight on co-collaborator <a href="#" lang="sv">Line Olsson!</a></p>
										<div class="button-row">
											<a href="https://checkout.square.site/buy/AZ3UCTJOJZCFTJJODZDB4SPF" class="btn btn-primary" aria-label="buy the print edition of Inky Stories #7">$6.00</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="thumbnail" id="inky-stories-6">
									<a href="https://checkout.square.site/buy/UVLWS77YMSQK5TA2FQA2DOCA" class="image" role="img" aria-label="buy the print edition of Inky Stories #6"></a>
									<div class="text">
										<h3><span class="book-title">Inky Stories</span> #6</h3>
										<p>"<a href="#">The Null Device</a>" (26 pages, reprinted at standard size with with new art enhancements). Print-only features: Unix cheat sheet, Null Device chronology cheat sheet, and an Agent K pinup!</p>
										<div class="button-row">
											<a href="https://checkout.square.site/buy/UVLWS77YMSQK5TA2FQA2DOCA" class="btn btn-primary" aria-label="buy the print edition of Inky Stories #6">$5.00</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="thumbnail" id="inky-stories-5">
									<a href="https://checkout.square.site/buy/MQBKZRKNGOQJS2JXSDGVAUDU" class="image" role="img" aria-label="buy the print edition of Inky Stories #5"></a>
									<div class="text">
										<h3><span class="book-title">Inky Stories</span> #5</h3>
										<p>"<a href="#">Stop That Panzer Woman!</a>" (20 pages). Print-only features: pinups, fake ads, Null Device chronology cheat sheet, and your letters!</p>
										<div class="button-row">
											<a href="https://checkout.square.site/buy/MQBKZRKNGOQJS2JXSDGVAUDU" class="btn btn-primary" aria-label="buy the print edition of Inky Stories #5">$5.00</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="thumbnail" id="inky-stories-4">
									<a href="https://checkout.square.site/buy/VGSECSAZSK2KUABN2JRIT56Z" class="image" role="img" aria-label="buy the print edition of Inky Stories #4"></a>
									<div class="text">
										<h3><span class="book-title">Inky Stories</span> #4</h3>
										<p><a href="#">"Enter…General Zaq!</a>", "<a href="#">(Not Really) Blade Kills Twilight</a>" (special edition colored by <a href="#">Jesse Farrell</a>). Print-only features: pinups and your letters!</p>
										<div class="button-row">
											<a href="https://checkout.square.site/buy/VGSECSAZSK2KUABN2JRIT56Z" class="btn btn-primary" aria-label="buy the print edition of Inky Stories #4">$6.00</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section" id="minicomics">
					<div class="container">
						<div class="merchandise-description">
							<h2>Minicomics</h2>
							<p>Approximately 5.5 x 8.5 inches, black-and-white covers and interiors (covers on colored paper), 16+ content pages</p>
						</div>
						<div class="row thumbnails">
							<div class="col-12 col-md-4">
								<div class="thumbnail" id="inky-stories-1">
									<a href="https://checkout.square.site/buy/BME7P5CYOXS6F3BWLWL6UZH6" class="image" role="img" aria-label="buy the print edition of Inky Stories #1"></a>
									<div class="text">
										<h3><span class="book-title">Inky Stories</span> #1</h3>
										<p>"<a href="../comics/bottle-of-red.htm">Bottle of Red</a>", three Accidental Genius one-pagers ("<a href="#">Go Snow!</a>", "<a href="#">GrubHub Delivery</a>", "<a href="#">Plate Ground</a>"), and your letters!</p>
										<div class="button-row">
											<a href="https://checkout.square.site/buy/BME7P5CYOXS6F3BWLWL6UZH6" class="btn btn-primary" aria-label="buy the print edition of Inky Stories #1">$2.00</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="thumbnail" id="inky-stories-2">
									<a href="https://checkout.square.site/buy/4FNDLMW2F4TAE44PA5PM6HPX" class="image" role="img" aria-label="buy the print edition of Inky Stories #2"></a>
									<div class="text">
										<h3><span class="book-title">Inky Stories</span> #2</h3>
										<p>"<a href="#">Six-Year-Old Horse Thief</a>", "<a href="#">Lucky Seven: The Dee Brown Incident</a>", and your letters!</p>
										<div class="button-row">
											<a href="https://checkout.square.site/buy/4FNDLMW2F4TAE44PA5PM6HPX" class="btn btn-primary" aria-label="buy the print edition of Inky Stories #2">$2.00</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="thumbnail" id="inky-stories-3">
									<a href="https://checkout.square.site/buy/AIPB6NDRZZUIQFL6YF3BMO4M" class="image" role="img" aria-label="buy the print edition of Inky Stories #3"></a>
									<div class="text">
										<h3><span class="book-title">Inky Stories</span> #3</h3>
										<p>"<a href="#">The Null Device</a>" (previously serialized in sci-fi anthology Outbound)</p>
										<div class="button-row">
											<a href="https://checkout.square.site/buy/AIPB6NDRZZUIQFL6YF3BMO4M" class="btn btn-primary" aria-label="buy the print edition of Inky Stories #3">$2.00</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>
