			<main id="main-content" class="main-content bd-content about" role="main">
				<section class="section intro">
					<div class="container">
						<h1>About These Inky Stories</h1>
						<p><strong>Inky Stories</strong> is a web and print anthology of my short, self-contained comic book stories. Genres include autobio, comedy, satire, horror, romance, sci-fi, historical drama, action, and crime fiction.</p>
					</div>
				</section>
				<section class="section details">
					<div class="container">
						<div class="row">
							<div class="col-12 col-md-4 sidebar-column" role="complementary">

								<div class="photo circle dsm-portrait-drawing"></div>
								<p>Churning out so much genius has been horrible for my posture. Hope you appreciate the sacrifice.</p>

							</div>
							<div class="col-12 col-md-8 main-column">
								<h2>Business Bio</h2>
								<p>David Marshall was published by Fantagraphics Books, <a href="#">SpiderBaby Graphix</a> and <a href="#">FantaCo Enterprises</a>. Most recently published by the <a href="# ">Boston Comics Roundtable</a> and <a href="#">Riverbird Studios</a>. He's also a multiple participant in <a href="#">24-Hour Comics Day</a>, <a href="#">Arisia</a>, <a href="#">Massachusetts Independent Comics Expo</a> and Boston ComicCon. <a href="http://www.artofthecomicbook.com/">Art of the Comic Book</a> is David’s college-level studio workshop for making comics with traditional ink-on-paper media.</p>

								<h3>Personal Bio</h3>
								<p>As a kid in Springfield Massachusetts, I collected and traded Marvel comics from the Silver Age. I got hooked by the powerful yet flawed heroes and dramatic situations. Eventually I followed certain creators. Stan Lee and Jack Kirby were my first, then Steve Ditko, Wally Wood, John Buscema, Marie Severin, Joe Sinnott, Frank Giacoia and Artie Simek.</p>
								<p>By high school, I was better at drawing and analyzing comic books than anything else. Studying comics history for my Senior Degree Project at Massachusetts College of Art exposed me to the work of George Herriman, Roy Crane, Alex Toth, Milton Caniff, Curt Swan and more! This foundation eventually led to my first published credits.</p>
								<p>There’s more to my story, but I’d rather take Steve Ditko’s lead and let <a href="../comics/index.htm">my comics do the talking</a>. Thanks for sticking around this long; the best is yet to come.</p>
								<p class="signature">— Dave M!, giving you all I’ve got.</p>
							</div>
						</div>
					</div>
				</section>
			</main>
