			<main id="main-content" class="main-content bd-content text-page blog" role="main">
				<section class="section text-page-section">
					<div class="container">

<img src="/assets/img/pictures/nyccon-2014-30.jpg" class="blog-top-image" alt="photo of comic book letterers at New York ComicCon 2014">

<div class="blog-header">
	<h1>Blog Template</h1>
	<p class="summary">Disguised as a sci-fi murder mystery, “Face The Raven” is about betrayal, addiction, and the death of Clara Oswald. Possibly the best showing of the twelfth Doctor.</p>
	<p class="meta">
		<span class="time-stamp">
			<time class="entry-date published" datetime="#">January 8, 2016</time>
			<time class="updated" datetime="#">January 16, 2020</time>
		</span>
		<span class="author"><a href="#">David Marshall</a></span>
	</p>
</div>

<p>Still trying to figure out a platform. Knisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
<p>Color in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
<h2>Header H2 Accumsan et Fiusto Aodio Dignissim Qui Llandit Praesent Yuptatum</h2>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, and vel illum.</p>

<figure class="figure pr-3 pb-3 float-left d-none d-md-block">
	<a href="#">
		<img src="/assets/img/pictures/spambot-terminator.jpg" class="figure-img img-fluid rounded" alt="meaningless picture of a woman wearing a rabbit costume surrounded by masked cowboys">
	</a>
	<figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
</figure>

<h3>H3 Dolor in Hendrerit in Xulputate</h3>
<p>Red diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<h4>H4 Had Minim Veniam</h4>
<p>Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing elit</a>, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, and vel illum.</p>

<table class="table" id="people-cities">
	<caption>People &amp; Their Cities (Single-Column)</caption>
	<thead>
		<tr>
			<th scope="col" role="columnheader">&nbsp;</th>
			<th scope="col" role="columnheader">City of Birth</th>
			<th scope="col" role="columnheader">Current City</th>
			<th scope="col" role="columnheader">Favorite City</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row" role="rowheader">Ernesto Trivoli</th>
			<td data-header="City of Birth: ">Naples</td>
			<td data-header="Current City: ">Rome</td>
			<td data-header="Favorite City: ">Naples</td>
		</tr>
		<tr>
			<th scope="row" role="rowheader">Margarita de Rosas</th>
			<td data-header="City of Birth: ">Mexico City</td>
			<td data-header="Current City: ">Los Angeles</td>
			<td data-header="Favorite City: ">New York</td>
		</tr>
		<tr>
			<th scope="row" role="rowheader">Kristin Mumfordson</th>
			<td data-header="City of Birth: ">Berlin</td>
			<td data-header="Current City: ">Stockholm</td>
			<td data-header="Favorite City: ">Cambridge</td>
		</tr>
		<tr>
			<th scope="row" role="rowheader">Samson Abrahamson</th>
			<td data-header="City of Birth: ">Tripoli</td>
			<td data-header="Current City: ">London</td>
			<td data-header="Favorite City: ">Jerusalem</td>
		</tr>
		<tr>
			<th scope="row" role="rowheader">Sahara Blackstone-Carver</th>
			<td data-header="City of Birth: ">Atlanta</td>
			<td data-header="Current City: ">Boise</td>
			<td data-header="Favorite City: ">Nairobi</td>
		</tr>
	</tbody>
</table>

<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>

<div class="row">
	<div class="col-12 col-md-6">
	<ul>
		<li>Quis nostrud exerci tation ullamcorper</li>
		<li>Nminim veniam, quis nostrud exerci tation</li>
		<li>Accumsan et iusto odio dignissim qui blandit praesent luptatum</li>
		<li>Vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</li>
	</ul>
	</div>
	<div class="col-12 col-md-6">
		<ol>
			<li>Quis nostrud exerci tation ullamcorper</li>
			<li>Nminim veniam, quis nostrud exerci tation</li>
			<li>Accumsan et iusto odio dignissim qui blandit praesent luptatum</li>
			<li>Vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</li>
		</ol>
	</div>
</div>

<img class="pr-3 pb-3 float-left d-none d-md-block" src="/assets/img/pictures/wonderwoman-comicbook-09.jpg" />

<h4>H4 Had Minim Veniam</h4>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure.</p>
<p>Color in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
<ol>
	<li>Quis nostrud exerci tation ullamcorper</li>
	<li>Nminim veniam, quis nostrud exerci tation</li>
	<li>Accumsan et iusto odio dignissim qui blandit praesent luptatum</li>
	<li>Vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</li>
</ol>

<h4>H4 Dignissim Veniam</h4>
<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

<div class="row">
	<div class="col-12 col-md-6">
		<dl>
			<dt>Definition List One</dt>
			<dd>Duis autem vel eum iriure dolor in hendrerit. Sin vulputate velit esse molestie consequat.</dd>
			<dd>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</dd>
		</dl>
	</div>
	<div class="col-12 col-md-6">
		<dl>
			<dt>Definition List Two</dt>
			<dd>Color in hendrerit in vulputate velit esse molestie consequat. Evel illum dolore eu feugiat nulla facilisis at vero eros.</dd>
			<dd>Facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</dd>
		</dl>
	</div>
</div>
<p>Color in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

					</div>
				</section>
			</main>


