			<footer class="bd-footer text-muted">
				<div class="container py-3 py-md-4">
					<p class="copyright">Copyright &copy; 1986-<script>document.write(new Date().getFullYear())</script> David Marshall. All rights reserved. The material may not, under any circumstances, be resold or redistributed for compensation of any kind without prior written permission from David Marshall nor may the information be used in any commercial venue without such prior written permission. For more information, please <a title="Send Email to Art of the Comic Book's Dave Marshall" href="mailto:dsm@inkystories.com">contact us here</a>. </p>
					<div class="social">
						<ul class="list-inline">
							<li class="follow-me">Follow me on </li>
							<li class="email"><a href="mailto:david@inkystories.com" rel="external"><span>Email</span></a></li>
							<li class="facebook"><a href="http://www.facebook.com/pages/Inky-Stories/161622173872127" rel="external"><span>Facebook</span></a></li>
							<li class="twitter"><a href="http://twitter.com/InkyDavid" rel="external"><span>Twitter</span></a></li>
						</ul>
					</div>
					<p class="back-to-top">
						<a href="#main-content">Back to top<i class="fas"></i></a>
					</p>
				</div>
			</footer>
