			<header class="fixed-top main-navigation" role="banner">
				<a href="#main-content" class="skip-link sr-only sr-only-focusable">Skip Content</a>
				<nav class="navbar navbar-expand-md">
					<a class="navbar-brand" href="#" rel="home" aria-label="Inky Stories, comic books by David Marshall for Rotten Kid Press">Inky Stories</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="main-navigation">
						<ul class="navbar-nav bd-navbar-nav mr-auto">
							<li class="nav-item web-comics">
								<a class="nav-link" href="#" aria-label="comic books by David Marshall">Comics</a>
							</li>
							<li class="nav-item about">
								<a class="nav-link" href="#" aria-label="about Inky Stories author David Marshall">About</a>
							</li>
							<li class="nav-item store">
								<a class="nav-link" href="#" aria-label="Inky Stories store">Store</a>
							</li>
							<li class="nav-item blogs">
								<a class="nav-link" href="#" aria-label="Inky Stories blogs">Blogs</a>
							</li>
						</ul>
						<div class="search-form form-inline my-2 my-md-0">
							<form>
								<input class="form-control form-control-sm mr-3" matInput type="text" placeholder="" aria-label="Search">
								<i class="fas fa-search active" aria-hidden="true"></i>
							</form>
						</div>
					</div>
				</nav>
			</header>
