			<main id="main-content" class="main-content bd-content home" role="main">
				<section class="section intro">
					<div class="container">
						<div class="col-12 col-md-5 text">
							<h1>Hello.</h1>
							<p>Inky Stories is a collection of my web comics, which are mostly short self-contained stories. Genres include satire, horror, romance, sci-fi and crime fiction.</p>
							<p class="button-row">
								<a class="btn btn-primary btn-lg icon learn-more" href="about/index.htm" aria-label="Learn more about Inky Stories and comic book artist David Marshall" role="button">Learn more <i class="fas"></i></a>
							</p>
						</div>
					</div>
				</section>
				<section class="section promos">
					<div class="container">
						<div class="row">
							<div class="col-12 col-md-4 latest" id="inky-latest">
								<h2 aria-labelledby="inky-latest">The Latest</h2>
								<div class="latest-work">
									<a href="comics/i-did-nothing.htm" aria-label="clickable image to Frank's Next Mission" role="img" class="latest-page"></a>
									<h3><a href="comics/franks-next-mission.htm" aria-label="Frank's Next Mission">Frank's Next Mission</a></h3>
									<p><span class="rating">(G; Superhero Satire)</span> A vigilante serial killer's one-man war on crime is escalated to the next level.</p>
									<p class="back-to-top">
										<a href="#main-content">Back to top<i class="fas"></i></a>
									</p>
								</div>
							</div>
							<div class="col-12 col-md-4 blogs" id="inky-blogs">
								<h2 aria-labelledby="inky-blogs">Blogs</h2>
								<ul class="list-unstyled">
									<li>
										<h3><a href="#">Script: Twilight's Last Gleaming</a></h3>
										Ever wish you could save a bad comic book script, before it gets drawn and printed? Here’s your chance to save one of mine! “Twilight’s Last Gleaming” is a ten-page satire that needs your help.
									</li>
									<li>
										<h3><a href="#">Paradigm Shift Fan Art</a></h3>
										I recreated a page from Dirk Tiede’s Paradigm Shift with traditional media, hand lettering and full color. See Dirk’s original manga-driven art side-by-side with my version (closer to Caniff, Sickles and Toth) for this once-in-a-lifetime experiment!
									</li>
									<li>
										<h3><a href="#">Training Daze: 24-Hour Comic 2010</a></h3>
										Entire Story Posted Now! “Training Daze” my 24-hour comic from 2010: ’60s Batgirl abuse, visually abstract transitions, a mystical art gallery hook-up, talking stars, city rampaged my monsters, a rotten kid saves the day … all ending with an empty panel.
									</li>
								</ul>
								<p class="back-to-top">
									<a href="#main-content">Back to top<i class="fas"></i></a>
								</p>
							</div>
							<div class="col-12 col-md-4 twitter" id="inky-twitter">
								<h2 aria-labelledby="inky-twitter">Twitter</h2>
								<div class="tweets">
                    <ngx-tweet tweetId="1221969426548961281"></ngx-tweet>
                    <ngx-tweet tweetId="1216706642819080194"></ngx-tweet>
                    <ngx-tweet tweetId="1213557431680339968"></ngx-tweet>
                    <ngx-tweet tweetId="1178411558910808068"></ngx-tweet>
                    <ngx-tweet tweetId="1171119486281363456"></ngx-tweet>
                    <ngx-tweet tweetId="1034564195344371714"></ngx-tweet>
                    <ngx-tweet tweetId="1161436258956173314"></ngx-tweet>
                    <ngx-tweet tweetId="1157268807372742656"></ngx-tweet>
                    <ngx-tweet tweetId="1140030574121365504"></ngx-tweet>
                    <ngx-tweet tweetId="1139188128793673728"></ngx-tweet>
                    <ngx-tweet tweetId="1136364931861946368"></ngx-tweet>
                    <ngx-tweet tweetId="1134353666276823041"></ngx-tweet>
                    <ngx-tweet tweetId="1113945560766189573"></ngx-tweet>
                    <ngx-tweet tweetId="1100867078876205068"></ngx-tweet>
								</div>
								<p class="back-to-top">
									<a href="#main-content">Back to top<i class="fas"></i></a>
								</p>
							</div>
						</div>
					</div>
				</section>
			</main>
