<main>
	<section class="comic-book-story">
		<div class="container">
			<h1>I Did Nothing</h1>
			<p>...</p>
			<div id="" class="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<p class="page-label">I Did Nothing: Page 1 of 3</p>
						<img>
						<div class="button-row">
							<a href="#">Previous</a>
							<a href="#">Next</a>
						</div>
						<div class="author-notes">
							<h2>About This Page</h2>
							<p>...</p>
						</div>
					</div>
					<div class="carousel-item">
						...
					</div>
					<div class="carousel-item">
						...
					</div>
				</div>
				<a class="carousel-prev"></a>
				<a class="carousel-next"></a>
			</div>
		</div>
	</section>
	<section class="comic-book-info text-page">
		<div class="container">
			<h2>Story Notes</h2>
			<p>...</p>
		</div>
	</div>
</main>
